SECRET_KEY=your-secret-key

EMAIL_CODE_LIFETIME=60

# ── Database ───────────────────────────────────────────────────────────────────

DB_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=6432
POSTGRES_DB=mirror

# ── Email ──────────────────────────────────────────────────────────────────────

EMAIL_HOST=smtp.beget.com
EMAIL_PORT=2525
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
EMAIL_HOST_USER=admin@primero1800.ru
EMAIL_HOST_PASSWORD=your-email-password
