AI_API_KEY=your-api-key
AI_MODEL=mistral-small-latest
AI_EMBED_MODEL=mistral-embed
AI_TIMEOUT_SEC=60

EMAIL_CODE_LIFETIME=60
EMAIL_HOST=smtp.example.com
EMAIL_PORT=2525
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=your@email.com
EMAIL_HOST_PASSWORD=your-email-password

POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=6432
POSTGRES_DB=mirror
